<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Js</title>
    <link rel="stylesheet" href="../src/output.css">
</head>
<body>
    <header class="w-full ">
        <nav class="bg-cyan-700 flex items-center justify-evenly ">
        
        <section class="text-white text-2xl">FindFoods</section>
        <ul class="flex *:ms-5 *:p-6 *:text-white *:cursor-pointer">
            <li>Home</li>
            <li>Blog</li>
            <li>Contact</li>
        </ul>
        </nav>
       </header>
            
    <main class="bg-indigo-500 text-2xl flex justify-center h-[54.5rem] pt-[5rem] relative">
        <h2 class="absolute top-0">If you're wondering what the food name is, you just type: K or k to show all our foods. 😋 </h2>
        <form >
            <input class="myInput group p-3 rounded-sm focus:outline  focus:outline-indigo-900-500" type="text" placeholder="Search Items">
            <button type="button" class="bg-slate-500 p-3 rounded-md text-slate-50 focus-within:outline-red-600 checked:bg-white hover:bg-amber-500">Search</button>
            <section class="main-card *:transition-all relative">
                <article class="absolute text-white hidden container-404 ">Search not found</article>
                <article class="card card-1   bg-slate-800 text-white py-5 mb-2 mt-2 ps-2 ">
                    <p class="idont hidden ">salad Khmer🥗</p>
                </article>
                <article class="card card-2  bg-slate-800 text-white py-5 mb-2 mt-2 ps-2">
                    <p class="idont hidden">Rice khmer🍚</p>
                </article>
                <article class="card card-3  bg-slate-800 text-white py-5 mb-2 mt-2 ps-2">
                    <p class="idont hidden">Noodle Khmer🍛</p>
                </article>
                <article class="card card-4  bg-slate-800 text-white py-5 mb-2 mt-2 ps-2">
                    <p class="idont hidden">Fish amok Khmer😋</p>
                </article>
                <article class="card card-5  bg-slate-800 text-white py-5 mb-2 mt-2 ps-2">
                    <p class="idont hidden">Samlar Korko Khmer🥘</p>
                </article>
                <article class="card card-5  bg-slate-800 text-white py-5 mb-2 mt-2 ps-2">
                    <p class="idont hidden">Khmer soups 🍥</p>
                </article>
                <article class="card card-5  bg-slate-800 text-white py-5 mb-2 mt-2 ps-2">
                    <p class="idont hidden">Somlor Prohor Khmer🥗🍴😋</p>
                </article>
                
            </section>
            
        </form>
    </main>
    <script src="Script.js"></script>
</body>
</html>